h1{
    font-family:fantasy;
}
body{
border: 1px solid black;
margin: auto;

}

header{
    background-color: #f0f0f0;
    color: #fff;
    display: flex;
    border: 2px solid black;

}

.logo{
    width: 120px;
    height: 120px;
    padding: 10px;
}

.titulo{
    margin-top: 35px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: black;
    font-size: 72px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul{
    list-style-type: none;
    margin: 0px;
    display: flex;
    font-size: 20px;
    text-align: left;
    background-color: #f0f0f0;
    width: 75%;

}
li{
    padding: 10px;
    

    
}

article{
    display:inline-block;
    margin: 30px 15px 30px 15px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.89);
}

footer {
    background-color: #f0f0f0;
    padding: 0;
    text-align: center;
    border: black solid 2px;
    
}

.redes-sociales a {
    margin: 0px;
    display: inline-block;
}

.redes-sociales img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.cuerpo{
    background-color: #9bba89;
    padding: 5px;
}

.TresEstrellas{
    width: 13%;
    padding: 0;
}

#derechos{
    margin: 10px 0 10px 0;
    
}
.search{
    display: flex;
    align-content: center;
    width: 20%;
    margin: 10px ;    
    padding: 3px;

    
}
.menu{
    display: flex;
}

#search{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#boton{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.lupa{
    width: 13px;
    height: 13px;
}

.noticia{
    display: block;
    margin: 30px 15px 30px 15px;
    border: 1px solid black;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.89);
}
.parrafo{
    font-size: 22px;
    font-family: 'arial';
    font-weight: normal;
    margin: 0 0 24px 0;
    color: #1f1f1f;
}
.titular{
     font-size: 46px;
}

.img-parraf{
    margin: 15px auto 0 auto;
    display: block;
    width: 420px;
    height: 240px;
    
}
figcaption{
    text-align: center;
    background-color: rgb(0,0 , 0, 0.15);
    color: white;
    width: 420px;
    margin: 0 auto;
    font-family: 'calibri';
    
}
.columna{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;   
}

.formulario{
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100PX;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
}

.formulario h2{
    margin-bottom: 20px;
}
.control{
    width: 94%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f35c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.formulario p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.formulario .envio{
    width: 100%;
    background-color: #1f35c5;
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
}
.navegador {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 0.0625rem;
    background-color: #79a361;
}
.nav-bottom {
    border: 0.0625rem solid rgba(0, 0, 0, 0.644);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 0.9rem;
    background-color: white;
    color: black;
    text-shadow: 1px 1px 2px gray;
    box-shadow: 0rem 0rem 0.40rem white;
}
.nav-bottom:hover{
    background-color: lightgray;
}
.sel-bottom {
    border: 0.0625rem solid rgba(0, 0, 0, 0.644);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 0.9rem;
    background-color: lightgray;
    color: black;
    text-shadow: 1px 1px 2px gray;
    box-shadow: 0rem 0rem 0.40rem white;
}
a{
    text-decoration: none;
    color: white;
}

.tit-not{
    text-decoration:underline ;
    
}

.inicio-pag{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #79a361;
    font-weight: 600;
}
